.build
.cache
.tmp
.old
docs/latex
lib/controlModel/controlModel_ert_rtw
lib/controlModel/slprj
lib/*/examples
lib/*/extras
lib/*/docs
lib/*/.github
lib/*/.git
lib/*/*.html
lib/*/.gitignore
lib/*/*.yml
lib/*/CMakeLists.txt
*.png
*.r20*
